.inline-error {
  height: 23px;
}

.inline-error p {
  display: none;
  margin-top: 0;
  padding-top: 3px;
}

.hero-body {
  z-index: 1;
  background-color: #2e2e2e;
}

.columns {
  margin-top: 50px;
  margin-bottom: 100px !important;
}
